QuanLiRapPhim/obj/Debug/net5.0/Razor/Views/Shared/Login.cshtml.g.cs
QuanLiRapPhim/.vs/QuanLiRapPhim/config/applicationhost.config
QuanLiRapPhim/.vs/QuanLiRapPhim/DesignTimeBuild/.dtbcache.v2
QuanLiRapPhim/.vs/QuanLiRapPhim/v16/.suo
QuanLiRapPhim/bin/Debug/net5.0/QuanLiRapPhim.dll
QuanLiRapPhim/bin/Debug/net5.0/QuanLiRapPhim.exe
QuanLiRapPhim/bin/Debug/net5.0/QuanLiRapPhim.pdb
QuanLiRapPhim/bin/Debug/net5.0/QuanLiRapPhim.runtimeconfig.dev.json
QuanLiRapPhim/bin/Debug/net5.0/QuanLiRapPhim.Views.dll
QuanLiRapPhim/bin/Debug/net5.0/QuanLiRapPhim.Views.pdb
QuanLiRapPhim/obj/project.assets.json
QuanLiRapPhim/obj/project.nuget.cache
QuanLiRapPhim/obj/QuanLiRapPhim.csproj.nuget.dgspec.json
QuanLiRapPhim/obj/QuanLiRapPhim.csproj.nuget.g.props
QuanLiRapPhim/obj/Debug/net5.0/apphost.exe
QuanLiRapPhim/obj/Debug/net5.0/QuanLiRapPhim.assets.cache
QuanLiRapPhim/obj/Debug/net5.0/QuanLiRapPhim.csproj.CoreCompileInputs.cache
QuanLiRapPhim/obj/Debug/net5.0/QuanLiRapPhim.csproj.FileListAbsolute.txt
QuanLiRapPhim/obj/Debug/net5.0/QuanLiRapPhim.csprojAssemblyReference.cache
QuanLiRapPhim/obj/Debug/net5.0/QuanLiRapPhim.dll
QuanLiRapPhim/obj/Debug/net5.0/QuanLiRapPhim.genruntimeconfig.cache
QuanLiRapPhim/obj/Debug/net5.0/QuanLiRapPhim.pdb
QuanLiRapPhim/obj/Debug/net5.0/QuanLiRapPhim.RazorCoreGenerate.cache
QuanLiRapPhim/obj/Debug/net5.0/QuanLiRapPhim.Views.dll
QuanLiRapPhim/obj/Debug/net5.0/QuanLiRapPhim.Views.pdb
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/_ViewImports.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/_ViewStart.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Home/Index.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Shared/_FooterPartial.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Shared/_HeaderPartial.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Shared/_HeadPartial.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Shared/_Layout.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Shared/_LibJSPartial.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Shared/_SidebarPartial.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Views/About/Index.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Views/Contact/Index.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Views/MovieReview/Index.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Views/Profile/Index.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Views/Shared/_PartialCSS.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Views/Shared/_PartialFooter.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Views/Shared/_PartialHeader.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Views/Shared/_PartialJS.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Views/YourOrder/Index.cshtml.g.cs
QuanLiRapPhim/bin/Debug/net5.0/QuanLiRapPhim.dll
QuanLiRapPhim/bin/Debug/net5.0/Castle.Core.dll
QuanLiRapPhim/bin/Debug/net5.0/Castle.Windsor.dll
QuanLiRapPhim/bin/Debug/net5.0/Microsoft.AspNetCore.Cryptography.Internal.dll
QuanLiRapPhim/bin/Debug/net5.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
QuanLiRapPhim/bin/Debug/net5.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
QuanLiRapPhim/bin/Debug/net5.0/Microsoft.AspNetCore.Identity.UI.dll
QuanLiRapPhim/bin/Debug/net5.0/Microsoft.AspNetCore.Identity.UI.Views.V4.dll
QuanLiRapPhim/bin/Debug/net5.0/Microsoft.DotNet.PlatformAbstractions.dll
QuanLiRapPhim/bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
QuanLiRapPhim/bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Embedded.dll
QuanLiRapPhim/bin/Debug/net5.0/Microsoft.Extensions.Identity.Core.dll
QuanLiRapPhim/bin/Debug/net5.0/Microsoft.Extensions.Identity.Stores.dll
QuanLiRapPhim/bin/Debug/net5.0/QuanLiRapPhim.StaticWebAssets.xml
QuanLiRapPhim/obj/Debug/net5.0/QuanLiRapPhim.MvcApplicationPartsAssemblyInfo.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Login/Login.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Roles/Create.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Roles/Delete.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Roles/Details.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Roles/Edit.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Roles/Index.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Shared/_Layout2.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Shared/_Layout3.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Shared/_LoginPartial.cshtml.g.cs
QuanLiRapPhim/obj/Debug/net5.0/Razor/Areas/Admin/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
