@model QuanLiRapPhim.Areas.Admin.Models.Staff
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}
@section CSS{
    <style>
        form #password {
            background-color: #f6f6f6;
            border: none;
            color: #0d0d0d;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 5px;
            width: 85%;
            border: 2px solid #f6f6f6;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
            border: 1px solid gray;
        }
    </style> }
    <div class="wrapper fadeInDown">
        <div id="formContent" style="margin: auto;">
        <div class="fadeIn first"><img src="~/admin/img/Icon_User.png" id="icon" alt="User Icon" /></div>

        <form method="post" asp-action="Login" asp-controller="Login">
            <input type="text" asp-for="UserName" id="login" class="fadeIn second" name="UserName" placeholder="Nhập tài khoản" required>
            <input type="password" asp-for="PasswordHash" id="password" class="fadeIn third" name="PasswordHash" placeholder="Nhập mật khẩu" required>
            <h6 style='color: red;'>
                @ViewData["Message"]</h6>
                        <input type="submit" class="fadeIn fourth" value="Log In">
</form>
        <div id="formFooter">             
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>
