@model QuanLiRapPhim.Areas.Admin.Models.Staff
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}
<h1>Tạo tài khoản thất bại</h1>
<a asp-controller="Login" asp-action="Register">Register Admin</a>