<style>
    .seat, .seatdadat, .seatchon, .seatbad {
        width: 16px;
        height: 14px;
    }
    .seat {
        background-image: url("images/seattrong.png");
    }
    .seatchon 
    {
        background-image: url("images/seatchon.png");
    }
    .seatdadat {
        background-image: url('images/seatdadat.png');
    }
    .modal.fade.in {
        opacity: 1;
    }

    .modal.fade .modal-dialog {
        transform: translate(0, 0) !important;
    }

    .modal-backdrop.fade {
        opacity: 0.5 !important;
    }

    .modal-header {
        display: block;
    }

    .modal-content {
        border-radius: 1.3rem !important;
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="text-center" style="color: #000000;">Chọn ghế</h1>
                <div>
                    <div class="row" ng-repeat="s in seats">
                        <div class="col-sm-1">
                            <h5>{{s.name}}</h5>
                        </div>
                        <div class="row col-10">
                            <div class="d-inline-block" style="margin:0 auto" ng-repeat="s2 in s">
                                <div ng-click="Click(s2)"
                                     class="{{s2.status?'seat '+ (seat==s2.id?'seatchon':(dsghedachon.indexOf(s2.id)==-1?'':'seatdadat')):'seatbad'}}" 
                                     id="{{s2.id}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <h5>{{s.name}}</h5>
                        </div>
                    </div>

                    <div class="row" style="padding: 15px 15px 15px 15px;">
                        <div class="col-sm-12" style="height: 100px ; border-left: 45px solid transparent; border-right: 45px solid transparent; border-bottom: 100px solid #555;">
                            <h1 class="text-center" style="position: relative; top: 30px;color: aliceblue;">Màn hình</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1" style="display: flex; align-items: center; justify-content: center;">
                <div style="border-left: 1px solid green;height: 250px;"></div>
            </div>
            <div class="col-sm-4">
                <h1 class="text-center" style="color: #000000;">Chú thích</h1>
                <div class="row">
                    <div class="col-sm-2">
                        <img src="images/seatchon.png">
                    </div>
                    <div class="col-sm-8">
                        <p class="text-left">Ghế đã chọn</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <img src="images/seatdadat.png">
                    </div>
                    <div class="col-sm-8">
                        <p class="text-left">Ghế đã đặt</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <img src="images/seattrong.png">
                    </div>
                    <div class="col-sm-8">
                        <p class="text-left">Ghế Trống</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6" style="display: flex; justify-content: center;">
                        <button type="button" class="btn btn-success" ng-click="open()">Bước kế tiếp</button>
                    </div>
                    <div class="col-sm-6" style="display: flex; justify-content: center;">
                        <button type="button" class="btn btn-dark" ng-click="">Quay lại</button>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-4">
                        <img src="https://www.galaxycine.vn/media/c/o/cogai_2.jpg" width="100" height="200" />
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>Rạp: </h4>
                            </div>
                            <div class="col-sm-8">
                                <p>Tên Rạp ABC</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>Phòng: </h4>
                            </div>
                            <div class="col-sm-8">
                                <p>Tên phòng ABC</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>Phim: </h4>
                            </div>
                            <div class="col-sm-8">
                                <p>Tên phim ABC</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 style="color: #f20;">Ghế: </h4>
                            </div>
                            <div class="col-sm-8">
                                <p style="color: #f20;">{{seat==null?'Chưa chọn':seat.id}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>Thời gian: </h4>
                            </div>
                            <div class="col-sm-8">
                                <p>12:00</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>