<div class="page">
    <div class="breadcrumbs">
        <a href="index.html">Home</a>
        <span>Movie Review</span>
    </div>

    <div class="filters">
        <select name="#" id="#" placeholder="Choose Category">
            <option value="#">Action</option>
            <option value="#">Drama</option>
            <option value="#">Fantasy</option>
            <option value="#">Horror</option>
            <option value="#">Adventure</option>
        </select>
        <select name="#" id="#">
            <option value="#">2012</option>
            <option value="#">2013</option>
            <option value="#">2014</option>
        </select>
    </div>
    <div class="movie-list">
        <div class="movie" ng-repeat="movie in movies">
            <figure class="movie-poster"><img src="../../dummy/{{movie.poster}}" alt="#"></figure>
            <div class="movie-title"><a href="moviereview/#!{{movie.title}}">{{movie.title}}</a></div>
            <p>{{movie.describe}}</p>
        </div>
    </div> <!-- .movie-list -->
        <ul uib-pagination
            total-items="totalItems"
            ng-model="currentPage"
            ng-change="pageChanged()"
            class="pagination"
            data-boundary-links="true"
            items-per-page="numPerPage">
        </ul>
</div>