<div class="page" >
    <div class="breadcrumbs">
        <a href="../#!/">Home</a>
        <span>Movie Review</span>
    </div>

    <div class="movie-list">
        <div class="movie" ng-repeat="movie in movies">
            <figure class="movie-poster"><img src="../admin/img/Poster/{{movie.poster}}" alt="#" height="300"></figure>
            <div class="movie-title"><a href="#!{{movie.title}}">{{movie.title}}</a></div>
            <p>{{movie.describe}}</p>
        </div>
    </div> <!-- .movie-list -->
        <ul uib-pagination
            total-items="totalItems"
            ng-model="currentPage"
            ng-change="pageChanged()"
            class="pagination"
            data-boundary-links="true"
            items-per-page="numPerPage">
        </ul>
</div>