    <div class="page">
    <div class="breadcrumbs">
        <a href="../#!/">Trang chủ</a>
        <a href="#!">Danh sách phim</a>
        <span>{{NameMovie}}</span>
    </div>
    <div ng-show="model">
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <figure class="movie-poster" style="display: flex; justify-content: center;">
                        <img width="100%" src="../admin/img/Poster/{{model.poster}}" alt="#">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h2 class="movie-title">{{model.title}}</h2>
                    <ul class="movie-meta">
                        <li class="Rated">
                            <strong>Đánh giá:</strong>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </li>
                        <li><strong>Thời gian chiếu: </strong>{{model.time}} phút</li>
                        <li><strong>Ngày khởi chiếu: </strong>{{model.date}}</li>
                        <li><strong>Thể loại: </strong>{{model.lstcategories.join("/")}} </li>
                    </ul>
                    <ul class="starring">
                        <li>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-success" ng-click="BookTicket()">
                                        Đặt vé
                                    </button>
                                </div>
                                <div class="col-sm-6" ng-hide="model.isRated">
                                    <button type="button" class="btn btn-success" ng-click="btnRate()">
                                        Đánh giá
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> <!-- .row -->
            <div>
                <h1>Mô tả phim</h1>
            </div>
            <div class="entry-content">
                <p>{{model.describe}}</p>
            </div>
            <div>
                <h1>Trailer phim</h1>
                <div>
                    <video id="Prevideo" width="100%" height="400" controls="controls" src="/admin/img/Trailer/{{model.trailer}}"></video>
                </div>

            </div>
        </div>
        <style>
            .Rate {
                width: 50%;
                margin: auto;
                display: flex;
                justify-content: space-between;
            }

                .Rate span {
                    width: auto;
                    margin: auto;
                    padding: 10px;
                }
        </style>
   </div>
</div>
    <div ng-bind-html="renderHtml(message)"></div>