    <div class="page">
    <div class="breadcrumbs">
        <a href="../#!/">Home</a>
        <a href="#!">Movie Review</a>
        <span>{{NameMovie}}</span>
    </div>
    <div ng-show="message==null">
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <figure class="movie-poster" style="display: flex; justify-content: center;">
                        <img width="100%" src="../../dummy/{{model.poster}}" alt="#">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h2 class="movie-title">{{model.title}}</h2>
                    <ul class="movie-meta">
                        <li class="Rated">
                            <strong>Đánh giá:</strong>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </li>
                        <li><strong>Thời gian chiếuchiếu:</strong>{{model.time}} phút</li>
                        <li><strong>Ngày khởi chiếu:</strong> {{model.date}}</li>
                        <li><strong>Thể loại:</strong> Animation/Adventure/Comedy</li>
                    </ul>
                    <ul class="starring">
                        <li>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-success" ng-click="BookTicket()">
                                        Bookticket
                                    </button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" data-toggle="modal"
                                            data-target="#Rate"
                                            class="btn btn-success"
                                            style="width: 150px;" ng-click="Rate(0)">
                                        Ratting
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> <!-- .row -->
            <div>
                <h1>Mô tả phim</h1>
            </div>
            <div class="entry-content">
                <p>{{model.describe}}</p>
            </div>
            <div>
                <h1>Trailer phim</h1>
                <div>
                    <iframe width="100%" height="400" src="https://www.youtube.com/embed/RqcQyB5q7sY"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>

            </div>
        </div>
        <style>
            .comment-author img {
                margin: 0 auto;
            }

            .comment-content {
                color: #999;
                width: 80%;
                min-height: 60px;
                max-height: 60px;
                padding: 5px 10px;
                background-color: #fff;
                cursor: text;
                border: 1px solid #bbb;
            }

            .summary {
                padding: 5px;
                background-color: #fff;
                cursor: text;
                border: 1px solid #bbb;
            }

            .commentItems {
                padding-top: 10px;
            }

            .commentItems2 {
                padding: 10px 0 0 100px;
            }

            .comment-item2 {
                padding-top: 10px;
            }

            .form-comment2 {
                padding-top: 10px;
            }

            .comment {
                padding: 10px;
            }

            .Rate {
                width: 50%;
                margin: auto;
                display: flex;
                justify-content: space-between;
            }

                .Rate span {
                    width: auto;
                    margin: auto;
                    padding: 10px;
                }
        </style>

        <div class="comment">
            <span><h1>Comment</h1></span>
            <form class="comment-area row">
                <textarea class="comment-content col-11" placeholder="Comment here!"></textarea>
                <input type="submit" class="btn btn-success col-1" value="Send" />
            </form>
            <div class="commentItems">
                <div class="comment-item row">
                    <div class="comment-author col-1">
                        <img src="/admin/img/Icon_User.png" height="40" width="40" />
                        <div>
                            <input type="submit" class="btn btn-success" value="trả lời" height="5" ng-click="traloi(1)" />
                        </div>
                    </div>

                    <div class="summary col-11">
                        <div><span><h2>name user</h2></span></div>
                        <div><span>comment</span></div>
                    </div>

                    <div ng-show="comment == 1" class="col-12 form-comment2">
                        <form class="comment-area2 row">
                            <textarea class="comment-content col-11" placeholder="Comment here!"></textarea>
                            <input type="submit" class="btn btn-success col-1" value="Send" />
                        </form>
                    </div>

                    <div class="commentItems2 col-12">

                        <div class="comment-item2 row">
                            <div class="comment-author col-1">
                                <img src="/admin/img/Icon_User.png" height="40" width="40" />
                            </div>
                            <div class="summary col-11">
                                <div><span><h2>name user</h2></span></div>
                                <div><span>comment</span></div>
                            </div>
                        </div>

                        <div class="comment-item2 row">
                            <div class="comment-author col-1">
                                <img src="/admin/img/Icon_User.png" height="40" width="40" />
                            </div>
                            <div class="summary col-11">
                                <div><span><h2>name user</h2></span></div>
                                <div><span>comment</span></div>
                            </div>
                        </div>

                        <div class="comment-item2 row">
                            <div class="comment-author col-1">
                                <img src="/admin/img/Icon_User.png" height="40" width="40" />
                            </div>
                            <div class="summary col-11">
                                <div><span><h2>name user</h2></span></div>
                                <div><span>comment</span></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    <div ng-bind-html="renderHtml(message)"></div>