<div class="modal-content">
    <div class="modal-header"style="display: flex; justify-content: space-between;">
        <h5 class="modal-title" id="exampleModalLabel">
            Chọn suất
            chiếu trong rap
        </h5>
        <button type="button" class="close" ng-click="close()"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-sm-3">
                    <p style="height: 100%; display: flex; align-items: center; color: red;">
                        Chọn ngay đặt vé:
                    </p>
                </div>
                <div class="col-sm-9">
                    <input type="date" class="form-control"
                           placeholder="Ngày đặt vé"
                           aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <hr>
        <div>
            <div style="display: flex; flex-direction: row;">
                <div class="text-center" ng-repeat="item in List"
                     style="margin-left: 10px; display:flex; justify-content: center; align-items: center;width: 100px; height: 25px; border: 1px solid red;">
                    <a href="#!{{NameMovie}}/bookticket/{{item.id}}">Suất chiếu {{item.id}}</a>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
