@{
    ViewData["Title"] = "Movie Review";
}
<div ng-app="App" ng-controller="Ctroller">
    <div ng-view>

    </div>
</div>

@section Scripts {
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="~/View/front-end/movie_review/controller.js"></script>
}