<header class="header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
                <div class="navbar-header">
                    <a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a><a href="index.html" class="navbar-brand">
                        <div class="brand-text d-none d-md-inline-block"><strong class="text-primary">Dashboard</strong></div>
                    </a>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Login" asp-action="Logout">@User.Identity.Name, Logout</a>
                }
                else
                {
                    <a asp-controller="Login" asp-action="Index">Login</a>
                   
                }

            </div>
        </div>
    </nav>
</header>