<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_HeadPartial")
    @RenderSection("css", required: false)
</head>
<body>
    <div class="container-fluid">
        <link href="~/css/dangnhap.css" rel="stylesheet" />
        @RenderBody()
    </div> 
    @await Html.PartialAsync("_LibJSPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>
