@using Microsoft.AspNetCore.Identity
@using QuanLiRapPhim.Areas.Admin.Models
@inject SignInManager<Staff> SignInManager
<nav class="side-navbar">
    <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <!-- User Info-->
            <div class="sidenav-header-inner text-center">
                <img src="~/admin/img/@User.FindFirst("Img").Value" alt="person" class="img-fluid rounded-circle">
                <h2 class="h5">Nathan Andrews</h2><span>@User.FindFirst("Role").Value</span>
            </div>
            <!-- Small Brand information, appears on minimized sidebar-->
            <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
            <h5 class="sidenav-heading">Main</h5>
            <ul id="side-main-menu" class="side-menu list-unstyled">
                <li><a asp-area="Admin" asp-action="Index" asp-controller="Home">Home</a></li>
                <li><a asp-area="Admin" asp-action="Index" asp-controller="Showtimes">Lịch chiếu</a></li>
                @if (SignInManager.IsSignedIn(User) && User.FindFirst("Role").Value.Contains("admin"))
                {
                    <li><a asp-area="Admin" asp-action="Index" asp-controller="Users">Người Dùng</a></li>
                    <li><a asp-area="Admin" asp-action="Index" asp-controller="Categories">Thể loại</a></li>
                    <li><a asp-area="Admin" asp-action="Index" asp-controller="Rooms">Phòng</a></li>
                    <li><a asp-area="Admin" asp-action="Index" asp-controller="Sevices">Dịch vụ</a></li>
                    <li><a asp-area="Admin" asp-action="Index" asp-controller="Macs">Mac</a></li>
                    <li><a asp-area="Admin" asp-action="Index" asp-controller="Movies">Phim</a></li>

                    <li><a asp-area="Admin" asp-action="Index" asp-controller="Staffs">Nhân viên</a></li>
                    <li><a asp-area="Admin" asp-action="Index" asp-controller="Bills">Hóa đơn</a></li>
                    <li><a asp-area="Admin" asp-action="Index" asp-controller="BillDetails">Chi tiết hóa đơn</a></li>

                }
            </ul>
        </div>
    </div>
</nav>