@{
    ViewData["Title"] = "Home Page";
}
<div ng-app="App" ng-controller="Ctroller">
    <div ng-view>

    </div>
</div>

@section Scripts {
    <script src="~/View/font-end/Index/controller.js"></script>
    
}