<footer class="main-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <p>Trường cao đẳng kỹ thuật Cao Thắng &copy; 2018-2021</p>
            </div>
            <div class="col-sm-6 text-right">
                <p>Lê Quang Hải - Hồ Gia Bảo</p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions and it helps me to run Bootstrapious. Thank you for understanding :)-->
            </div>
        </div>
    </div>
</footer>