@{
    ViewData["Title"] = "Movie Review | Profile";
}
<div ng-app="App" ng-controller="Ctroller">
    <div ng-view>

    </div>
</div>

@section Scripts {
    <script src="~/View/front-end/profile/controller.js"></script>
}