@{
    ViewData["Title"] = "Quản lí phòng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model QuanLiRapPhim.Areas.Admin.Models.Room
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.1/css/jquery.dataTables.css" />
<div ng-app="App" id="content">
    <div ng-controller="RoomsController" class="row">
        <div class="col-6">
            @await Html.PartialAsync("Create")
        </div>
        <div class="col-6">
            @*<table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Col</th>
                <th>Row</th>
                <th>Staff</th>


            </tr>
            <tr ng-repeat="data in dataRooms">
                <td>{{ data.id }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.col }}</td>
                <td>{{ data.row }}</td>
                <td>{{ data.staff.fullName }}</td>
                <td>
                    <a class="btn btn-primary" asp-route-id="{{ data.id }}" asp-action="Index">Edit</a>|
                </td>
            </tr>
        </table>*@
            <table datatable dt-options="dtOptions" dt-columns="dtColumns"  dt-instance="dtInstanceCallback" class="table table-striped table-bordered">
            </table>
        </div>




    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.datatables.net/1.10.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://rawgithub.com/l-lin/angular-datatables/v0.6.1/dist/angular-datatables.js"></script>
    <script type="text/javascript" src="https://rawgithub.com/a8m/angular-filter/master/dist/angular-filter.js"></script>
    <script>
        angular.module('App', ['datatables', 'angular.filter'])
            .factory('dataservice', function ($http) {
                return {
                    getRooms: function (callback) {
                        $http.get('/Admin/Rooms/JsonRoom').then(callback);
                    },

                }
            })
            .controller('RoomsController', function ($scope, dataservice,$q, $http, $compile, DTOptionsBuilder, DTColumnBuilder, DTColumnDefBuilder) {
                $scope.init = function () {
                    dataservice.getRooms(function (rs) {
                        rs = rs.data;
                        $scope.dataRooms = rs;
                    });
                    
                }
                $scope.init();
                $scope.dtInstanceCallback = function (instance) {
                    $scope.dtInstance = instance;
                };
                $scope.dtOptions =
                    DTOptionsBuilder.fromFnPromise(function () {
                        var defer = $q.defer();
                        $http({
                            method: 'GET',
                            url: '/Admin/Rooms/JsonRoom'
                        }).then(function (result) {
                            var data = [];
                            result.data.forEach(function (i) {
                                var item = data.find(item => item.id == i.id)
                                if (item) {
                                    item.childs.push(i)
                                } else {
                                    data.push({
                                        id: i.id,
                                        name: i.name,
                                        childs: [i]
                                    })
                                }
                            })
                            defer.resolve(data);
                        })
                        return defer.promise;
                    })
                //$scope.dtOptions = DTOptionsBuilder
                //    .fromFnPromise(function () {
                //        var defer = $q.defer();
                //        defer.resolve($scope.dataRooms.data);
                //        return defer.promise;
                //    })
                $scope.dtColumns = [
                    DTColumnBuilder.newColumn('id').withTitle('Id'),
                    DTColumnBuilder.newColumn('name').withTitle('Name'),
                ];
               
                setTimeout(function () {
                    $scope.dtOptions.reloadData();
                }, 1000);
            });

    </script>
}
