@{
    ViewData["Title"] = "Quản lí phòng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
   
</style>
@model QuanLiRapPhim.Areas.Admin.Models.Room 
            <div id='contentMain' ng-app="App" ng-controller="Ctroller">
                <div ng-show="create">
                    @await Html.PartialAsync("Create")
                </div>
                <div>
                    <button class="btn btn-primary" ng-click="Show()">Input</button>
                    <table class="table dataTable table-hover table-striped"
                           datatable
                           dt-options="dtOptions"
                           dt-columns="dtColumns"
                           id="tblData"></table>
                </div>
            </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script src="~/View/admin/Room/controller.js"></script>
    }
