@model QuanLiRapPhim.Areas.Admin.Models.ShowTime
@using QuanLiRapPhim.Areas.Admin.Models
@{
    ViewData["Title"] = "Đặt vé xem phim";
}
@if (TempData.Peek("Message") != null)
{
    <h2>@TempData.Peek("Message")</h2>
}
<style>
    .ss{
        margin-top: 10px;
        margin-right: 15px;
        width:16px;
        height:14px;
    }
</style>
<div ng-app="App" ng-controller="bookTicket" ng-init="idShowtime=@Model.Id">
    <div class="card" ng-show="room">
        <div class="card-body">
            <form asp-action="BuyTicket" method="post">
                <input name="st.id" value="@Model.Id" hidden/>
            <div class="row">
                <div class="col-sm-2">
                    <h2 class="text-center" style="color: #000000;">Danh sách vé</h2>
                    <div style="height:50%">
                        <div class="border" style="text-align:center;padding:1px;margin:1px" ng-repeat="s in listseat">
                            {{s.x+s.y}}-{{s.price}}
                            <input name="st.idS[{{$index}}]" value="{{s.id}}" hidden/>
                        </div>
                    </div>
                    <button class="btn btn-success" ng-click="InVe()" style="width: 100%;">Đặt vé</button>
                    <span>Tổng tiền: {{Total(listseat)}}</span>
                </div>
                <div class="col-sm-7">
                    <h1 class="text-center" style="color: #000000;">Chọn ghế</h1>
                        <div>
                            <div class="row" style="margin: 15px 15px 15px 15px;" >
                                <div class="col-sm-12" style="height: 100px ; background-color:black">
                                    <h1 class="text-center" style="width: 100%;padding-top:30px; color: aliceblue ">Màn hình</h1>
                                </div>
                            </div>

                            <div>
                                <div class="d-flex" ng-repeat="s in ListSeat">
                                    <div class="d-inline">
                                        <div class="ss name">{{s.name}}</div>
                                    </div>
                                    <div class="d-inline m-auto">
                                        <div class="d-flex">
                                            <div style="margin:0px 10px 4px 10px" ng-repeat="s2 in s.arr">
                                                <div ng-click="Click(s2)"
                                                     class="ss d-inline-block {{s2.status==0?'seat '+ (seat.id==s2.id?'seatchon':(dsghedachon.indexOf(s2.id)==-1?'':'seatdadat')):'seatbad'}}"
                                                     id="{{s2.id}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-inline">
                                        <div class="ss">{{s.name}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="d-inline-block">
                                        <span class="ss"></span>
                                    </div>
                                    <div class="d-inline m-auto">
                                        <div class="d-flex">
                                            <div style="margin:0px 10px 4px 10px" ng-repeat="x in col">
                                                <h5 class="ss">{{x}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-inline-block">
                                        <span class="ss"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-sm-2">
                    <h2 class="text-center" style="color: #000000;">Thông tin</h2>
                    <div class="row">
                        <img width="100%" src="~/admin/img/Poster/{{room.poster}}" />
                        <div class="col-12">
                            <span>Phòng:{{room.name}}</span>
                        </div>
                        <div class="col-12">
                            <span>Phim: {{room.title}}</span>
                            
                        </div>
                        <div class="col-12">
                            <div class="row" ng-show="seat">
                                <div class="col-12">
                                    <span>Ghế:</span>
                                    <span style="color: #f20;">{{seat==null?'Chưa chọn':seat.x+seat.y}}</span>
                                </div>
                                <div class="col-12" style="display: flex; justify-content: center;">
                                    <button type="button" ng-click="addseat()" class="btn btn-success" ng-click="">Thêm</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
                </form>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/View/front-end/bookticket/controller.js"></script>
    <script src="~/View/front-end/sevice/directive.js"></script>
    <script src="https://my-cinema-qlrp.herokuapp.com/socket.io/socket.io.js"></script>
    @*<script src="http://localhost:3000/socket.io/socket.io.js"></script>*@
    <script src="~/View/front-end/sevice/directive.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
}