<div class="container">
            <div class="col-sm">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <a href="#"><img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/r/s/rsz_t_j_ctkc_rollingbanner_980x448px_1.jpg" alt="Slide 1"></a>
                        </li>
                        <li>
                            <a href="#"><img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/h/a/happy-new-year-980x448_1.png" alt="Slide 2"></a>
                        </li>
                        <li>
                            <a href="#"><img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/k/v/kv_980x448.jpg" alt="Slide 3"></a>
                        </li>
                    </ul>
                </div>
            </div>
</div>
