@model QuanLiRapPhim.Areas.Admin.Models.BillDetail

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id='contentMain' ng-app="App" ng-controller="Ctroller">
    <input placeholder="Tìm kiếm theo Id hóa đơn" class="col-3" type="text" ng-model="valueId" />
    <button class="icon col-1" ng-click="Search()"><i class="fa fa-search"></i></button>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           id="tblData" dt-instance="dtInstance"></table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/View/admin/BillDetail/controller.js"></script>
}