@model QuanLiRapPhim.Areas.Admin.Controllers.ShowTimes
@using Microsoft.AspNetCore.Identity
@using QuanLiRapPhim.Areas.Admin.Models
@inject SignInManager<Staff> SignInManager
@*<div ng-app="App" ng-controller="Ctroller" class="row">
        <div class="col-6">
            <h4>Search and create new showtimes</h4>
            <input type="date" class="form-control" ng-model="Date" ng-change="changDate(Date | date:'MM-dd-yyyy')" />
            <span class="text-danger"></span>
        </div>
        <div class="col-6" ng-show="showTimes">
            <div style="border:solid 1px; margin-top: 25px;" id="Date">
                <div class=""><h1>Lịch chiếu trong ngày {{Date | date:'MM-dd-yyyy'}}</h1></div>
                <div class="row" ng-repeat="x in listShowTime">
                    <div class="col-3">{{x.title}}:</div>
                    <div class="col-5">{{x.startTime}} - {{x.endTime}}</div>
                </div>

            </div>
        </div>
    </div>*@
<style>
    .Movie {
        margin: 2px;
        padding: 5px;
        display: flex;
        background-color: green;
        border-radius:5px;
        justify-content: space-between;
    }
        .Movie .btn {
            display: inline;
            padding: 10px;
            border-radius: 5px;
        }
    .list-Title-Movie {
        background-color: #eee;
        height: 350px;
        border: 1px dotted black;
        overflow: scroll;
       color:white;
    }
</style>
<div class="row" ng-init="LitIdMovie=@Model.Json()">
    <form asp-action="CreateTimes" method="post" class="row col-6">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Date" hidden class="form-control" />

        
        <div class="form-group col">
            <label asp-for="TimeStart" class="control-label"></label>
            <input asp-for="TimeStart" ng-model="time" class="TimeStart form-control" ng-init="time='@Model.TimeStart.TimeOfDay'" />
            <h3>Thời gian kết thúc: {{action.getTimeEnd(LitIdMovie)}}</h3>
            <div class="text-danger">
                @Html.ValidationSummary()
            </div>
        </div>
        @{if (User.IsInRole("Admin"))
            {
                <div class="form-group col-3">
                    <label asp-for="RoomId" class="control-label"></label>
                    <select asp-for="RoomId" class="form-control" asp-items="@(new SelectList(ViewBag.ListRooms, "Id", "Name"))"></select>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="RoomId" />
            }
        }
        <div class="form-group col-12">
            <input type="submit" value="Tạo lịch chiếu" class="btn btn-primary float-right" />
        </div>

        <list-Movie data="LitIdMovie"></list-Movie>
        <input asp-for="TotalTime" hidden type="number" ng-model="action.getTotalTime(LitIdMovie)" />
    </form>
    <div class="col-6" style="padding:10px;">
        <div style="border: inset 1px; background-color:white;padding:10px">
            <h1>Danh sánh phim đang chọn</h1>
            <div class="list-Title-Movie">
                <list-Title-Movie data="LitIdMovie"  action="action"></list-Title-Movie>
            </div>
            <div class="form-group">
                <label asp-for="movie1" class="control-label"></label>
                <select class="form-control"
                        id="ListPhim" ng-change="action.add()"
                        ng-model="selected" ng-init="selected='-1'"
                        asp-items="ViewBag.ListMovies">
                    <option value="-1">--Chọn phim--</option>
                </select>
            </div>
        </div>
    </div>
</div>
@*<div class="col-6">

        <span asp-validation-for="TotalTime" class="text-danger"></span>
        <div style="border:solid 1px">
            <h1>Danh sánh phim đang chọn</h1>
            <div ng-repeat="x in ListMovie" ng-click="del($index)">{{x.title}}</div>

            <div class="form-group">
                <label asp-for="movie1" class="control-label"></label>
                <select class="form-control"
                        id="ListPhim" ng-change="add()"
                        ng-model="selected"
                        asp-items="ViewBag.ListMovies" >
                    <option value="-1" selected>--Chọn phim--</option>
                </select>
            </div>
        </div>
    </div>*@

