@*@model QuanLiRapPhim.Areas.Admin.Models.ShowTime*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id='contentMain' ng-app="App" ng-controller="Ctroller">
    <div class="row">
        <div class="col-12">
            @{
                if (TempData.Peek("Message") != null)
                {
                    <h2 class="alert alert-success">@TempData.Peek("Message")</h2>
                }
                if (ViewBag.ListMovies != null)
                {
                    @await Html.PartialAsync("CreateTimes")
                }
            }

            <h4>Search and create new showtimes</h4>
            <form asp-action="CreateTimes" method="get" style="display: flex; justify-content: space-between;">
                <div style="display:inline-flex">
                    <input type="date" ng-change="Search()" name="Date" class="form-control" ng-model="Date" />
                    <button class="icon" ><i class="fa fa-search"></i></button>
                </div>
                <div>
                    <button class="btn btn-primary">Input</button>
                    <button class="btn btn-warning" ng-click="deleteShowTimeList()"
                            data-toggle="modal" data-target="#myModal">
                        DeleteList
                    </button>
                </div>
            </form>
        </div>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           id="tblData" dt-instance="dtInstance"></table>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="row modal-header">
                    <h4 class="col-3 modal-title">Notification</h4>
                    <div class="col-5"></div>
                    <button type="button" class="col-3 close" ng-click="reloadData(true)" 
                            data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h2 class="alert alert-success">{{notification}}</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="reloadData(true)" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/View/admin/Showtimes/controller.js"></script>
}
