<div class="breadcrumbs">
    <a href="../">Home</a>
    <span>Your Order</span>
</div>

<div class="row">
    <button class="btn btn-success float-right" ng-click="choseService()">Đặt dịch vụ</button>
    <div class="col-sm-12">
        <h1 class="text-center" style="color: #000000;">Your order</h1>

        <table class="table dataTable table-hover table-striped"
               datatable
               dt-options="dtOrderhOptions"
               dt-columns="dtOrderColumns"
               id="tblData"></table>
    </div>
</div>