<div style="height: 200px; width: fit-content;">
    <div class="row">
        <div class="col-sm-8"
             style="height: 190px; width: 400px; padding-right: 0px; background: linear-gradient(to bottom, #e84c3d 0%, #e84c3d 26%, #ecedef 26%, #ecedef 100%); border-radius: 8px; ">
            <div class="row">
                <div class="col-sm-12">
                    <p style="display: flex; align-items: center; height: 100%; margin-left: 15px; color: #ffffff; font-size: 20px;">
                        My Cinema
                    </p>
                </div>
            </div>
            <div class="row" style="height: fit-content; margin-top: 10px;">
                <div class="col-sm-12" style="height: 40px;">
                    <p style=" text-transform: uppercase;margin-bottom: 0px; height: fit-content; font-size: 15px; color: #000000; font-weight: bold; margin-left: 15px; margin-top: 8px;">
                        Cô gái đến từ hôm qua
                    </p>
                    <p style="margin-left: 15px; text-transform: uppercase; font-size: 13px;">
                        MOVIE
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p style="text-transform: uppercase; margin-bottom: 0px; height: fit-content; font-size: 15px; color: #000000; font-weight: bold; margin-left: 15px; margin-top: 8px;">
                        Ngô Lâm Quang Tín
                    </p>
                    <p style="margin-left: 15px; text-transform: uppercase; font-size: 13px;">
                        Name
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <p style="font-size: 13px; margin-left: 15px; color: #000000; font-weight: bold; margin-bottom: 0px; ">
                        1&minus;2
                    </p>
                    <p style="font-size: 13px; margin-left: 15px;  text-transform: uppercase; ">
                        Seat
                    </p>
                </div>
                <div class="col-sm-2">
                    <p style="font-size: 13px; margin-left: 15px; color: #000000; font-weight: bold; margin-bottom: 0px; ">
                        12:00
                    </p>
                    <p style="font-size: 13px; margin-left: 15px;  text-transform: uppercase; ">
                        TIME
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4"
             style="background: linear-gradient(to bottom, #e84c3d 0%, #e84c3d 26%, #ecedef 26%, #ecedef 100%); border-radius: 8px;  border-left: 3px dashed #fff; height: 190px; display: flex; align-items: center; justify-content: center;">

            <div class="row"
                 style="margin-top: 20px; width: fit-content; margin-left: -20px;  height: fit-content;">
                <div class="col-sm-12">
                    <p style="margin-bottom: 0px; align-items: center; color: #e84c3d; font-size: 40px; font-weight: bold; display: flex; justify-content: center;">
                        156
                    </p>
                    <p class="text-center"
                       style="font-size: 20px;   text-transform: uppercase; ">
                        Seat
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>