<style>
    .listday{
        display: flex;
        border-bottom:1px solid;
    }
    .listday li{
        display: block;
        padding:5px;
    }
    .day {
        border: 2px solid;
        border-radius: 5px;
        color: black;
        cursor: pointer;
        height: 48px;
        position: relative;
        width: 100px;
    }
    .current{
        color:red;
        background-color:white;
    }
        .day > strong {
            color: #717171;
            font-size: 32px;
            font-weight: normal;
            left: 51px;
            line-height: 32px;
            position: absolute;
            top: 8px;
        }
        .day > span {
            color: #717171;
            font-size: 11px;
            left: 4px;
            position: absolute;
            top: 4px;
        }
        .day > em {
            color: #717171;
            font-size: 11px;
            font-style: normal;
            left: 4px;
            position: absolute;
            top: 20px;
        }
    .day:hover {
        color: red;
        background-color: white;
    }
</style>

<div style="width:100%">
    <ul class="listday">
        <li>
            <div class="day current">
                <span>09</span>
                <em>Chủ nhật</em>
                <strong>05</strong>
            </div>
        </li>

        <li>
            <div class="day">
                <span>09</span>
                <em>Thứ hai</em>
                <strong>06</strong>
            </div>
        </li>

        <li>
            <div class="day">
                <span>09</span>
                <em>Thứ ba</em>
                <strong>07</strong>
            </div>
        </li>

        <li>
            <div class="day">
                <span>09</span>
                <em>Thứ tư</em>
                <strong>08</strong>
            </div>
        </li>

        <li>
            <div class="day">
                <span>09</span>
                <em>Thứ năm</em>
                <strong>09</strong>
            </div>
        </li>

        <li>
            <div class="day">
                <span>09</span>
                <em>Thứ sáu</em>
                <strong>10</strong>
            </div>
        </li>

        <li>
            <div class="day">
                <span>09</span>
                <em>Thứ bảy</em>
                <strong>11</strong>
            </div>
        </li>

    </ul>

</div>