<div class="Showtimes">
    <div class="row d-flex">
        <div class="p-1">
            <img src="https://localhost:44350/admin/img/Poster/2.jpg" width="75" height="100" />
        </div>
        <div class="p-1">
            <div><strong>Tên phim:</strong> Avenger</div>
            <div><strong>Giờ chiếu:</strong> --:-- --</div>
            <div><strong>Phòng chiếu:</strong> ----</div>
            <div><strong>Ghế đã đặt:</strong> --/--</div>
        </div>
    </div>


    <div class="row d-flex">
        <div class="p-1">
            <img src="https://localhost:44350/admin/img/Poster/2.jpg" width="75" height="100" />
        </div>
        <div class="p-1">
            <div><strong>Tên phim:</strong> Avenger</div>
            <div><strong>Giờ chiếu:</strong> --:-- --</div>
            <div><strong>Phòng chiếu:</strong> ----</div>
            <div><strong>Ghế đã đặt:</strong> --/--</div>
        </div>
    </div>
</div>