@model QuanLiRapPhim.Controllers.RegisterController.Users

<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                @{

                    if (TempData.Peek("MessChangePassword") != null)
                    {
                        <div class="row">
                            <h1 class="alert-success col-12">Liên kết đã hết hiệu lực</h1>

                            <h3 class="col-4"><a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser">Đi tới Email</a></h3>
                            <div class="col-3"></div>
                            <h3 class="col-4"><a href="https://localhost:44350/#!/">Trở về trang chủ</a></h3>
                        </div>

                    }
                    else
                    {
                        try
                        {
                            <form asp-action="ChangePassword" asp-controller="Register" method="post" enctype="multipart/form-data">
                                <div class="row row-space">
                                    <div class="col-12">
                                        <input hidden value="@Model.UserName" name="UserName" />
                                        <input hidden type="text" value="@Model.SecurityStamp" name="SecurityStamp" />
                                        <div class="input-group">
                                            <label class="label">Mật khẩu mới</label>
                                            <input id="password" asp-for="PasswordHash" class="input--style-4" type="PassWord" name="PasswordHash">
                                            <span asp-validation-for="PasswordHash" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <label class="label">Nhập lại mật khẩu</label>
                                        
                                            <input asp-for="confirmPasswordHash" class="input--style-4" id="confirm_password" type="Password" name="confirmPasswordHash"><span id='message'></span>
                                            <span asp-validation-for="confirmPasswordHash" class="text-danger"></span>

                                    </div>
                                </div>

                                <div class="p-t-15">
                                    <input class="btn btn--radius-2 btn--blue" type="submit" value="Xác nhận">
                                </div>
                            </form>
                        }
                        catch (Exception err)
                        {
                            <div class="row">
                                <h1 class="alert-success col-12">Thay đổi mật khẩu thành công</h1>

                                <h3 class="col-4"><a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser">Đi tới Email</a></h3>
                                <div class="col-3"></div>
                                <h3 class="col-4"><a href="https://localhost:44350/#!/">Trở về trang chủ</a></h3>
                            </div>
                        }
                    }
                }

            </div>
        </div>
    </div>
</div>
@*Register*@
<link href="~/css/Register.css" rel="stylesheet" media="all">
<!-- Vendor CSS-->
<link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="~/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
<script src="~/View/front-end/Register/controller.js"></script>
<link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<script src="vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/select2/select2.min.js"></script>
<script src="~/vendor/datepicker/moment.min.js"></script>
<script src="~/vendor/datepicker/daterangepicker.js"></script>
<script src="~/js/global.js"></script>
<script>
    $('#password, #confirm_password').on('keyup', function () {
        if ($('#password').val() == $('#confirm_password').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else
            $('#message').html('Not Matching').css('color', 'red');
        if ($('#password').val() == "" && $('#confirm_password').val() == "") {
            $('#message').html('')

        }

    });
</script>