@{
    ViewData["Title"] = "Register";
}
@model QuanLiRapPhim.Controllers.RegisterController.Users
<div ng-app="App" ng-controller="Ctroller">
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                
                <div class="card-body">
                    @{

                        if (ViewData["Mess"] != null)
                        {
                            <div class="row">
                                <h1 class="alert-success col-12">@ViewData["Mess"]</h1>
                                <h3 class="col-4"><a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser">Đi tới Email</a></h3>
                                <div class="col-3"></div>
                                <h3 class="col-4"><a href="https://localhost:44350/#!/">Trở về trang chủ</a></h3>
                            </div>
                        }
                        else
                        {
                            <h2 class="title">Đăng kí thành viên</h2>
                            <form asp-action="Register" asp-controller="Register">
                                <div class="row row-space">
                                    <div class="col-6">
                                        <div class="input-group">
                                            <label class="label">Họ và tên</label>
                                            <input asp-for="FullName" class="input--style-4" type="text" name="fullname">
                                            <span asp-validation-for="FullName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input">
                                            <label class="label">Ngày sinh</label>
                                            <div class="input-group-icon">
                                                <input asp-for="DateOfBirth" style="padding: 0;" class="input--style-4" type="date" name="DateOfBirth">
                                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <label class="label">Email</label>
                                            <input asp-for="Email" class="input--style-4" type="email" name="Email">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-6">
                                        <div class="input-group">
                                            <label class="label">Tài khoản</label>
                                            <input asp-for="UserName" class="input--style-4" type="text" name="UserName">
                                            <span asp-validation-for="UserName" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group">
                                            <label class="label">Mật khẩu</label>
                                            <input id="password" asp-for="PasswordHash" class="input--style-4" type="PassWord" name="PasswordHash">
                                            <span asp-validation-for="PasswordHash" class="text-danger"></span>

                                            <span class="text-danger">@TempData.Peek("Password")</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <label class="label">Nhập lại mật khẩu</label>
                                    <div class="input-group">
                                        <input asp-for="confirmPasswordHash" class="input--style-4" id="confirm_password" type="Password" name="confirmPasswordHash"><span id='message'></span><br />

                                    </div>
                                </div>
                                <div class="p-t-15">
                                    <button class="btn btn--radius-2 btn--blue" type="submit">Xác nhận</button>
                                </div>
                            </form>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*Register*@
    <link href="~/css/Register.css" rel="stylesheet" media="all">
    <!-- Vendor CSS-->
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <script src="~/View/front-end/Register/controller.js"></script>
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/datepicker/moment.min.js"></script>
    <script src="~/vendor/datepicker/daterangepicker.js"></script>
    <script src="~/js/global.js"></script>
    <script>
        $('#password, #confirm_password').on('keyup', function () {
            if ($('#password').val() == $('#confirm_password').val()) {
                $('#message').html('Trùng khớp').css('color', 'green');
            } else
                $('#message').html('Mật khẩu không trùng khớp').css('color', 'red');
            if ($('#password').val() == "" && $('#confirm_password').val() == "") {
                $('#message').html('')

            }

        });
    </script>
}

