@{
    ViewData["Title"] = "Movie Review | About";
}
<div ng-app="App" ng-controller="Ctroller">
    <div ng-view>

    </div>
</div>

@section Scripts {
    <script src="~/View/font-end/About/controller.js"></script>
}