@model IEnumerable<QuanLiRapPhim.Areas.Admin.Models.Role>


@{
    ViewData["Title"] = "Roles";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .modal.fade.in {
        opacity: 1;
    }

    .modal.fade .modal-dialog {
        transform: translate(0, 0) !important;
    }

    .modal-backdrop.fade {
        opacity: 0.5 !important;
    }

    .modal-header {
        display: block;
    }

    .modal-content {
        border-radius: 1.3rem !important;
    }
</style>
<div ng-app="App" ng-controller="Ctroller">
    <div ng-view>

    </div>
</div>

@section Scripts {
    <script src="~/View/admin/Roles/controller.js"></script>
}

