@model IEnumerable<QuanLiRapPhim.Areas.Admin.Models.Role>


@{
    ViewData["Title"] = "Roles";
    Layout = "~/Areas/Admin/Views/Shared/_Layout3.cshtml";
}
<div ng-app="App" ng-controller="Ctroller">
    <div ng-view>

    </div>
</div>

@section Scripts {
    <script src="~/View/admin/Roles/controller.js"></script>
}

