<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>@ViewData["Title"]</title>
    <!-- Loading third party fonts -->


    @await Html.PartialAsync("_PartialCSS")
</head>

<body>
    <div id="site-content">
        @await Html.PartialAsync("_PartialHeader")
        <main class="main-content">
            <div class="container">
                @RenderBody()
            </div>
        </main>
    </div> <!-- .container -->


    @await Html.PartialAsync("_PartialFooter")

    <!-- Default snippet for navigation -->

    @await Html.PartialAsync("Login")

    @await Html.PartialAsync("_PartialJS")

    @await RenderSectionAsync("Scripts", false)

</body>

</html>