@*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />*@

<title>Movie Review</title>
<!-- Loading third party fonts -->

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<link href="~/css/style.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/angularJS/angular-1.8.2/angular.min.js"></script>

<script src="~/lib/angularJS/angular-1.8.2/angular-route.min.js"></script>
<script src="~/lib/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.js"></script>

<link href="~/lib/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.css" rel="stylesheet" />
<link href="~/lib/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="~/lib/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css" rel="stylesheet" />
<link href="~/lib/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.css" rel="stylesheet" />
<script src="~/lib/OwlCarousel2-2.3.4/dist/assets/owl.carousel.js"></script>