<header class="site-header">
    <div class="container">
        <a href="index.html" id="branding">
            <img src="~/images/logo.png" alt="" class="logo">
            <div class="logo-copy">
                <h1 class="site-title">Cine plus +</h1>
                <small class="site-description">Tagline goes here</small>
            </div>
        </a> <!-- #branding -->

        <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item current-menu-item">
                    <a href="index.html">
                        <img src="~/images/home.png" width="24" height="24" />
                        Trang chủ
                    </a>
                </li>

                <li class="menu-item">
                    <a href="about.html">
                        <img src="~/images/speech.png" width="24" height="24" />
                        Giới thiệu
                    </a>
                </li>

                <li class="menu-item">
                    <div class="row">
                        <a href="about.html">
                            <img src="~/images/cinema.png" alt="" srcset="" width="24" height="24">
                            Rạp chiếu
                        </a>
                    </div>
                </li>
                &nbsp;
                &nbsp;
                &nbsp;
                <li class="menu-item">
                    <div class="row">
                        <a href="about.html">
                            <img src="https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/icon_ticket25.png"
                                 alt="" srcset="" width="24" height="24">
                            Vé của tôi
                        </a>
                    </div>
                </li>
                &nbsp;
                &nbsp;
                <li class="menu-item">
                    <a href="contact.html">
                        <img src="~/images/information.png" width="24" height="24" />
                        Liên hệ
                    </a>
                </li>
                <li class="menu-item">
                    <a href="contact.html">
                        <img src="~/images/newspaper.png" width="24" height="24">
                        Tin tức
                    </a>
                </li>
                <li class="menu-item">
                    <a href="contact.html">
                        <img src="https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/icon_login25.png"
                             width="24" height="24">
                        Xin chào Tín <a>Logout</a>
                    </a>
                </li>

            </ul> <!-- .menu -->

        </div> <!-- .main-navigation -->

        <div class="mobile-navigation"></div>
    </div>

</header>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
