<footer class="site-footer">
    <div class="container">
        <div class="colophon">Cao đẳn kỹ thuật Cao Thắng &copy; 2018-2021, Lê Quang Hải - Hồ Gia Bảo</div>
    </div>
    <!-- .container -->

</footer>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
