@using Microsoft.AspNetCore.Identity
@using QuanLiRapPhim.Areas.Admin.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<header class="site-header">
    <div class="container">
        <a href="index.html" id="branding">
            <img src="~/images/logo.png" alt="" class="logo">
            <div class="logo-copy">
                <h1 class="site-title">Cine plus +</h1>
                <small class="site-description">Tagline goes here</small>
            </div>
        </a> <!-- #branding -->

        <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item" id="home">
                    <a asp-controller="Home">
                        <img src="~/images/home.png" width="24" height="24" />
                        Home
                    </a>
                </li>

                <li class="menu-item" id="movie_review">
                    <div class="row">
                    <a asp-controller="moviereview">
                            <img src="~/images/cinema.png" alt="" srcset="" width="24" height="24">
                        Movie Review
                    </a>
                    </div>
                </li>

                &nbsp;
                &nbsp;
                &nbsp;
                <li class="menu-item" id="my_order">
                    <div class="row">
                    <a asp-controller="YourOrder">
                        <img src="https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/icon_ticket25.png"
                                 alt="" srcset="" width="24" height="24">
                        My order
                    </a>
                    </div>
                </li>
                &nbsp;
                &nbsp;
                <li class="menu-item" id="contact">
                    <a asp-controller="Contact">
                        <img src="~/images/information.png" width="24" height="24" />
                        Contact
                    </a>
                </li>
                @if (SignInManager.IsSignedIn(User) && @User.FindFirst("FullNameUser") != null)
                {
                    <li class="menu-item" id="profile">
                        <a asp-controller="Profile">
                            <img src="https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/icon_login25.png"
                                 width="24" height="24">
                            @User.FindFirst("FullNameUser").Value!
                        <div id="id" hidden>@User.FindFirst("Id").Value</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <img class="fas fa-sign-out" width="24" height="24" />
                        <a asp-controller="Login" asp-action="Logout" style="height:100%">
                            Logout
                        </a>
                    </li>
                }
                else
                {
                    <li class="menu-item">
                        <span class="fa fa-sign-in"></span>
                        <a data-toggle="modal" data-target="#myModal" style="height:24px">
                            Login
                        </a>
                    </li>

                }



            </ul> <!-- .menu -->

        </div> <!-- .main-navigation -->

        <div class="mobile-navigation"></div>
    </div>

</header>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
