@model QuanLiRapPhim.Areas.Admin.Models.Test
<div id='contentMain' class="row" ng-app="App" ng-controller="Ctroller">
    <div class="col-4" ng-view>

    </div>
    <div class="col">
        <a href="/admin/Test#!create" class="btn btn-success">Create</a>
        <table class="table dataTable table-hover table-striped"
               datatable
               dt-options="dtEnglishOptions"
               dt-columns="dtEnglishColumns"
               id="tblData" ></table>
    </div>
</div>

    @section Scripts {
        <script src="~/View/admin/Test/controller.js"></script>

    }

