<div class="card" ng-show="room">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                <h2 class="text-center" style="color: #000000;">Danh sách vé</h2>
                <div style="height:50%">
                    <div class="border" style="text-align:center;padding:1px;margin:1px" ng-repeat="s in listseat">
                        {{s.x+s.y}}-{{s.price}}
                    </div>

                </div>
                <button class="btn btn-success" ng-click="InVe()" style="width: 100%;">In vé</button>
                <span>Tổng tiền: {{Total(listseat)}}</span>
            </div>
            <div class="col-sm-7">
                <h1 class="text-center" style="color: #000000;">Chọn ghế</h1>
                <div style="overflow-x:auto">

                    <div style="width:800px">

                        <div class="row" style="margin: 15px 15px 15px 15px;">
                            <div class="col-sm-12" style="height: 100px ; background-color:black">
                                <h1 class="text-center" style="width: 100%;padding-top:30px; color: aliceblue ">Màn hình</h1>
                            </div>
                        </div>

                        <div>
                            <div class="row" ng-repeat="s in ListSeat">
                                <div class="col-1">
                                    <h5>{{s.name}}</h5>
                                </div>
                                <div class="row col-10">
                                    <div class="d-inline" style="margin:0 auto" ng-repeat="s2 in s.arr">
                                        <div ng-click="Click(s2)"
                                             class="{{s2.status==0?'seat '+ (seat.id==s2.id?'seatchon':(dsghedachon.indexOf(s2.id)==-1?'':'seatdadat')):'seatbad'}}"
                                             id="{{s2.id}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <h5>{{s.name}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                </div>
                                <div class="row col-10">
                                    <div class="d-inline-block" style="margin:0 auto" ng-repeat="x in col">
                                        <h5>{{x}}</h5>
                                    </div>
                                </div>
                                <div class="col-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <h2 class="text-center" style="color: #000000;">Thông tin</h2>
                <div class="row">
                    <img width="100%" src="../admin/img/Poster/{{room.poster}}" />
                    <div class="col-12">
                        <span><h4>Phòng: </h4></span>{{room.name}}
                    </div>
                    <div class="col-12">
                        <span><h4>Phim: </h4></span>
                        {{room.title}}
                    </div>
                    <div class="col-12">
                        <div class="row" ng-show="seat">
                            <div class="col-12">
                                <span><h4>Ghế:</h4></span>
                                <span style="color: #f20;">{{seat==null?'Chưa chọn':seat.x+seat.y}}</span>
                            </div>
                            <div class="col-12" style="display: flex; justify-content: center;">
                                <button type="button" ng-click="addseat()" class="btn btn-success" ng-click="">Thêm</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--<div class="col-sm-4">
                <h1 class="text-center" style="color: #000000;">Chú thích</h1>
                <div class="row">
                    <div class="col-sm-2">
                        <img src="~/images/seatchon.png">
                    </div>
                    <div class="col-sm-8">
                        <p class="text-left">Ghế đã chọn</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <img src="~/images/seattrong.png">
                    </div>
                    <div class="col-sm-8">
                        <p class="text-left">Ghế đã đặt</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <img src="~/images/seatdadat.png">
                    </div>
                    <div class="col-sm-8">
                        <p class="text-left">Ghế Trống</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-4" style="display: flex; justify-content: center;">
                        <button class="btn btn-success" ng-click="choseService()">Đặt dịch vụ</button>
                    </div>
                    <div class="col-sm-4" style="display: flex; justify-content: center;">
                        <button type="button" class="btn btn-success" ng-click="open()">Bước kế tiếp</button>
                    </div>
                    <div class="col-sm-4" style="display: flex; justify-content: center;">
                        <button type="button" class="btn btn-dark" ng-click="">Quay lại</button>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/admin/img/Poster/{{room.poster}}" width="100" />
                    </div>
                    <div class="col-sm-8">
                        
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 style="color: #f20;">Ghế: </h4>
                            </div>
                            <div class="col-sm-8">
                                <p style="color: #f20;">{{seat==null?'Chưa chọn':seat.x+seat.y}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>Thời gian: </h4>
                            </div>
                            <div class="col-sm-8">
                                <p>{{room.time}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>-->
        </div>
    </div>
</div>
