@{
    ViewData["Title"] = "Movie Review | Your Order";
}
<div ng-app="App" ng-controller="Ctroller">
    <div ng-view>

    </div>
</div>

@section Scripts {
    <script src="//cdn.datatables.net/1.10.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://rawgithub.com/l-lin/angular-datatables/v0.6.1/dist/angular-datatables.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/View/front-end/your_order/controller.js"></script>
}